{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Products</h1>
    </div>

    

    <div class="card">
        <form action="" method="GET" class="card-header">
            <div class="form-row justify-content-between">
                <div class="col-md-2">
                    <input type="text" name="title" placeholder="Product Title" class="form-control" value="{{ request.GET.q }}">
                </div>
                <div class="col-md-2">
                    <select name="variant" id="" class="form-control">
                        <option selected disabled>--Select A Variant--</option>
                        <option disabled style="font-weight: bold;">Color</option>
                        {% for variant in productvariantcolor %}
                        <option value={{ variant }}>{{ variant }}</option>
                        {% endfor %}

                        <option disabled style="font-weight: bold;">Size</option>
                        {% for variant in productvariantsize %}
                        <option value={{ variant }}>{{ variant }}</option>
                        {% endfor %}

                        <option disabled style="font-weight: bold;">Style</option>
                        {% for variant in productvariantstyle %}
                        <option value={{ variant }}>{{ variant }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Price Range</span>
                        </div>
                        <input type="number" name="price_from" aria-label="First name" placeholder="From"
                               class="form-control">
                        <input type="number" name="price_to" aria-label="Last name" placeholder="To" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="date" name="date" placeholder="Date" class="form-control">
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>

        {% if product %}
        <div class="card-body">
            <div class="table-response">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Variant</th>
                        <th width="150px">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                        {% for prod in product %}
                        <tr>
                            <td>{{prod.id}}</td>
                            <td>{{prod.title}} <br> Created at : {{prod.created_at|timesince}}</td>
                            <td>{{prod.description}}</td>
                            
                            <td>
                                {% for prodvariant in prod.productvariantprice_set.all %}
                                <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant">
                                    <dt class="col-sm-3 pb-0">
                                        {{ prodvariant.product_variant_two.variant_title }}/ {{ prodvariant.product_variant_one.variant_title }}/
                                    </dt>
                                    <dd class="col-sm-9">
                                        <dl class="row mb-0">
                                            <dd class="col-sm-4 pb-0">Price : {{ prodvariant.price }}</dd>
                                            <dd class="col-sm-8 pb-0">InStock : {{ prodvariant.stock }}.</dd>
                                            
                                        </dl>
                                    </dd>
                                   
                                </dl>
                                
                            {% endfor %}
                                <button onclick="$('#variant').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more
                                </button>
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a href="{% url 'product:update_variant' prod.id %}" class="btn btn-success">Edit</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>
        {% else %}
        <h1>No Product Found</h1>
        {% endif %}

        <div class="card-footer">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <p>Showing {{product.start_index}} to {{product.end_index}} out of {{ product_count }}</p>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <nav aria-label="Page navigation example">
                          <ul class="pagination">
                            {% if product.has_previous %}
                            <li class="page-item">
                              <a class="page-link" href="?page={{ product.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&lsaquo;</span>
                              </a>
                            </li>
                            {% endif %}
                            {% for i in product.paginator.page_range %}
                            {% if product.number == i %}
                            <li class="page-item active" aria-current="page">
                              <a class="page-link" href="#">{{ i }}</a>
                            </li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                      
                            <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                            {% endfor %}
                            {% if product.has_next %}
                            <li class="page-item">
                              <a class="page-link" href="?page={{ product.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&rsaquo;</span>
                              </a>
                            </li>
                            {% endif %}
                          </ul>
                        </nav>
                    </div>


                    
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}